
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

    background-attachment: fixed;

    padding-top: 20px;
    padding-bottom: 20px;
}

header{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-align: center;

    padding-bottom: 20px;
}

.container{
    position: relative;
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), white;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    max-width: 900px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}


.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 0px 0;
}


form .user-details .input-box{
    margin-bottom: 10px;
    width: calc(100% /3 - 20px)
}

.user-details .input-box input{
    height: 30px;
    width: 95%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
    
    border-bottom-width: 2px;
    transition: border-color 0.3s ease;
}

.user-details .input-box select {
    height: 33px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;

    border-bottom-width: 2px;
    transition: border-color 0.3s ease;
}

.user-details .input-box select:focus,
.user-details .input-box input:focus{
    border-color: #9b59b6;
}

option {
    font-size: 17px;
}


form .button{
    height: 34px;
    margin: 8px 0 8px 0;
}

form .button button{
    height: 100%;
    width: 20%;
    outline: none;
    color: #fff;
    
    font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    border: none;
    border-radius: 5px;
    
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    font-size: 15px;
}


.button button:hover{
    font-size: 17px;
}

.container .user-output{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
    height: 30px;

    font-family: inherit;
    font-size: 20px;
}

